<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087003991869-hnp72evsujnk5pa0bqalb9lf1cojhk0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087003991869-hnp72evsujnk5pa0bqalb9lf1cojhk0t</string>
	<key>API_KEY</key>
	<string>AIzaSyCgSoI7caDqfqWzPq_ebqYTupZZTBKXBQY</string>
	<key>GCM_SENDER_ID</key>
	<string>1087003991869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mralexcy.Pruebax</string>
	<key>PROJECT_ID</key>
	<string>prueba-d8a98</string>
	<key>STORAGE_BUCKET</key>
	<string>prueba-d8a98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087003991869:ios:091f7d6c054ebc19</string>
	<key>DATABASE_URL</key>
	<string>https://prueba-d8a98.firebaseio.com</string>
</dict>
</plist>